<%- include("include/head.ejs") %>

    <link rel="stylesheet" href="http://localhost:3000/css/home.css">
    </head>

    <body>

        <%- include ("include/nav.ejs")%>
            <%if(isAuth){%>
                <%if(role==="User" ){%>
                    <li><a href="/user/guide">GUIDE LIST</a></li>
                    <%}else if(role==="Guide" ){ %>
                        <li><a href="/guide/make-post">POST</a></li>
                        <li><a href="/guide/myPost">My Post</a></li>
                        <%}%>
                            <%}%>
                                <form action="/search" method="get">
                                    <div class="input-group rounded">
                                        <input type="search" class="form-control rounded" name="query"
                                            placeholder="Search" required />
                                        <button type="submit" id="search"><svg width="30px" height="30px"
                                                viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                    stroke-linejoin="round"></g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M5.5 10.7655C5.50003 8.01511 7.44296 5.64777 10.1405 5.1113C12.8381 4.57483 15.539 6.01866 16.5913 8.55977C17.6437 11.1009 16.7544 14.0315 14.4674 15.5593C12.1804 17.0871 9.13257 16.7866 7.188 14.8415C6.10716 13.7604 5.49998 12.2942 5.5 10.7655Z"
                                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                    <path d="M17.029 16.5295L19.5 19.0005" stroke="#000000"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                </g>
                                            </svg></button>
                                    </div>
                                </form>
                                </ul>
                                <%- include ("include/loginOrLogout.ejs")%>

                                    <div class="container">
                                        <%for(let post of posts){%>
                                            <div class="card">
                                                <div class="card__header">
                                                    <img src="http://localhost:3000/images/<%=post.imageURL%>"
                                                        alt="card__image" class="card__image" width="600">
                                                    <div class="place">
                                                        <span class="tag tag-blue">
                                                            <%=post.place%>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="card_body">
                                                    <div class=" tag-reddiv">
                                                        <span class="tag tag-red">
                                                            About Place
                                                        </span>
                                                    </div>
                                                    <p>
                                                        <%=post.description%>
                                                    </p>
                                                </div>

                                                <section class="like-comment">
                                                    <div class="like">

                                                        <svg id="likes" width="64px" height="64px" viewBox="0 0 24 24"
                                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                                            stroke="green">
                                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                                stroke-linejoin="round"></g>
                                                            <g id="SVGRepo_iconCarrier">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M15.9 4.5C15.9 3 14.418 2 13.26 2c-.806 0-.869.612-.993 1.82-.055.53-.121 1.174-.267 1.93-.386 2.002-1.72 4.56-2.996 5.325V17C9 19.25 9.75 20 13 20h3.773c2.176 0 2.703-1.433 2.899-1.964l.013-.036c.114-.306.358-.547.638-.82.31-.306.664-.653.927-1.18.311-.623.27-1.177.233-1.67-.023-.299-.044-.575.017-.83.064-.27.146-.475.225-.671.143-.356.275-.686.275-1.329 0-1.5-.748-2.498-2.315-2.498H15.5S15.9 6 15.9 4.5zM5.5 10A1.5 1.5 0 0 0 4 11.5v7a1.5 1.5 0 0 0 3 0v-7A1.5 1.5 0 0 0 5.5 10z"
                                                                    fill=<%if(isAuth){%>
                                                                    <% if (post.likes.map((element)=>
                                                                        element.toString()).includes(userId)) { %>
                                                                        <%= 'green' %>
                                                                            <% }%>
                                                                                <% } else{ %>>
                                                                                    <%= 'white' %>
                                                                                        <% }%>
                                                                                            fill="blue">
                                                                </path>
                                                            </g>
                                                        </svg>
                                                        <div>
                                                            <%=post.likes.length%>
                                                        </div>
                                                        <svg id="dislikes" width="64px" height="64px"
                                                            viewBox="0 0 24 24" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" transform="rotate(180)"
                                                            stroke='green'>
                                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                                stroke-linejoin="round"></g>
                                                            <g id="SVGRepo_iconCarrier">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M15.9 4.5C15.9 3 14.418 2 13.26 2c-.806 0-.869.612-.993 1.82-.055.53-.121 1.174-.267 1.93-.386 2.002-1.72 4.56-2.996 5.325V17C9 19.25 9.75 20 13 20h3.773c2.176 0 2.703-1.433 2.899-1.964l.013-.036c.114-.306.358-.547.638-.82.31-.306.664-.653.927-1.18.311-.623.27-1.177.233-1.67-.023-.299-.044-.575.017-.83.064-.27.146-.475.225-.671.143-.356.275-.686.275-1.329 0-1.5-.748-2.498-2.315-2.498H15.5S15.9 6 15.9 4.5zM5.5 10A1.5 1.5 0 0 0 4 11.5v7a1.5 1.5 0 0 0 3 0v-7A1.5 1.5 0 0 0 5.5 10z"
                                                                    fill=<%if(isAuth){%>
                                                                    <% if (post.dislikes.map((element)=>
                                                                        element.toString()).includes(userId)) { %>
                                                                        <%= 'green' %>
                                                                            <% }%>
                                                                                <% } else{ %>>
                                                                                    <%= 'white' %>
                                                                                        <% }%>

                                                                </path>
                                                            </g>
                                                        </svg>
                                                        <div>
                                                            <%=post.dislikes.length%>
                                                        </div>
                                                    </div>
                                                    <div class="comments">
                                                        <form class="comment-form" action="/add-comment" method="post">
                                                            <label for="comments">Add Comment:</label>
                                                            <div class="comment-data">
                                                                <textarea name="comment" class="tag tag-ta" rows="2"
                                                                    required></textarea>
                                                                <input type="hidden" name="postId" id="postId"
                                                                    value=<%=post._id %>>
                                                                <input type="hidden" name="userId" id="userId"
                                                                    value=<%=post.user_Id %>>
                                                            </div>
                                                            <div class="cmt-submit"><button type="submit"
                                                                    id="add">Add</button></div>
                                                        </form>
                                                    </div>
                                                </section>
                                                <div class="view-comments">
                                                    <h2>
                                                        <b>Total Comments:</b>
                                                        <%=post.totalComments%>
                                                    </h2>
                                                    <%post.comments.forEach(comment=>{%>
                                                        <b>
                                                            <%=comment.by%>:
                                                        </b>
                                                        <i>
                                                            <%= comment.content %>
                                                        </i><br><br>
                                                        <% })%>
                                                </div>
                                            </div>
                                            <%}%>

                                    </div>
                                    <%- include ("./include/pages.ejs"),{currentPage:currentPage, totalPosts:totalPosts,
                                        hasNextPage:hasNextPage, hasPreviousPage:hasPreviousPage, nextPage:nextPage,
                                        previousPage:previousPage, lastPage:lastPage, isFilter:isFilter,query:query}%>
                                        <script src="/JS/helper.js"></script>

    </body>

    </html>