<div class="pages">
    <% if (currentPage !==1) { %>
        <a href="<%= isFilter ? `?query=${query}` : '' %><%= isFilter ? '&' : '?'%>page=1">1
        </a>
        <% } %>
            <% if (hasPreviousPage) { %>
                <a href="<%= isFilter ? `?query=${query}` : '' %><%= isFilter ? '&' : '?' %>page=<%= previousPage %>">
                    Previous
                </a>
                <% } %>
                    <a href="<%= isFilter ? `?query=${query}` : '' %><%= isFilter ? '&' : '?'%>page=<%= currentPage %>"
                        class="active">
                        <%= currentPage %>
                    </a>
                    <% if (hasNextPage) { %>
                        <a
                            href="<%= isFilter ? `?query=${query}` : '' %><%= isFilter ? '&' : '?'%>page=<%= nextPage %>">
                            Next
                        </a>
                        <% } %>
                            <% if (lastPage !==currentPage ) { %>
                                <a
                                    href="<%= isFilter ? `?query=${query}` : '' %><%= isFilter ? '&' : '?'%>page=<%= lastPage %>">
                                    <%= lastPage %>
                                </a>
                                <% } %>
</div>